{% extends 'base.html.twig' %}

{% block title %}Cocktails{% endblock %}

{% block body %}

    <h1>Aplikace pro správu kokteilů</h1>
    <a href="{{ path('cocktailsGrid') }}">Výpis všech kokteilů</a>
    <a href="{{ path('editCocktail') }}">Vložit nový kokeil</a>

{% endblock %}

{% block stylesheets %}

{% endblock %}

