{% extends 'base.html.twig' %}

{% trans_default_domain "cocktail" %}
{% block body %}

    <h1><a href="{{ path('default') }}">{% trans %}title{% endtrans %}</a></h1>

    <a href="{{ path('cocktailsGrid') }}">Zpět na výpis kokteilů</a>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

{% block stylesheets %}

{% endblock %}

