{% extends 'base.html.twig' %}

{% block title %}Cocktails{% endblock %}

{% block body %}

    <h1><a href="{{ path('default') }}">Kokteily</a></h1>
    <a href="{{ path('editCocktail') }}">Vložit nový kokeil</a>

    {% for cocktail in cocktails %}
        <div class="row">
            <div class="col-sm-4">
                <a href="{{ path('editCocktail', {'cocktail': cocktail.id}) }}">{{ cocktail.name }}</a>

            </div>
            <div class="col-sm-4">
                {{ cocktail.description }}
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    <script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
    <script>
        var conn = new ab.Session('ws://127.0.0.1:8080',
                function() {
                    conn.subscribe('cocktail', function(topic, data) {
                        // This is where you would add the new article to the DOM (beyond the scope of this tutorial)
                        var html = "<div class=\"row\">" +
                                "<div class=\"col-sm-4\">" +
                                "<a href=\"" + data.url + "\">" +
                                data.name  +
                                "</a></div></div>";
                        $( ".container" ).append(html);

                        console.log(data.url);
                        console.log('New article published to category "' + topic + '" : ' + data.name);
                    });
                },
                function() {
                    console.warn('WebSocket connection closed');
                },
                {'skipSubprotocolCheck': true}
        );
    </script>
{% endblock %}

